<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/createMemberForm.css}">

    <title>Signup</title>
</head>
<body>
<div class="container">
    <div class="mb-5 text-center">
        <h2>Please sign up for Hello Shop</h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form role="form" th:action="@{/members/new}" th:object="${memberForm}" method="post">

                <div class="mb-3">
                    <label th:for="email" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="you@example.com"
                           th:classappend="${#fields.hasErrors('email')}? 'is-invalid'" required>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email must be valid</p>
                </div>

                <div class="mb-3">
                    <label th:for="password" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Your password"
                           th:classappend="${#fields.hasErrors('password')}? 'is-invalid'" required>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password must be between 4 and 20 characters</p>
                </div>

                <div class="mb-3">
                    <label th:for="passwordConfirm" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'text-danger'">Password <span class="text-muted" th:class="${#fields.hasErrors('passwordConfirm')}? 'text-danger' : ''">(Confirm)</span></label>
                    <input type="password" class="form-control" th:field="*{passwordConfirm}" placeholder="Confirm your password"
                           th:classappend="${#fields.hasErrors('passwordConfirm')}? 'is-invalid'" required>
                    <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger">Passwords needs to match</p>
                </div>

                <div class="mb-3">
                    <label th:for="name" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Your name"
                           th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" required>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name must be provided</p>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="module"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>