<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <title>Signup</title>

    <style>
        .container {
            max-width: 960px;
        }
    </style>
</head>
<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Please sign up for Hello Shop</h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form role="form" th:action="@{/members/new}" th:object="${memberForm}" method="post">

                <div class="mb-3">
                    <label th:for="email">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="you@example.com"
                           th:class="${#fields.hasErrors('email')}? 'form-controlfieldError' : 'form-control'" required>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{email}">Incorrect date</p>
                </div>

                <div class="mb-3">
                    <label th:for="password">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Your password"
                           th:class="${#fields.hasErrors('password')}? 'form-controlfieldError' : 'form-control'" required>
                </div>

                <div class="mb-3">
                    <label th:for="passwordConfirm">Password <span class="text-muted">(Confirm)</span></label>
                    <input type="password" class="form-control" th:field="*{passwordConfirm}" placeholder="Confirm your password"
                           th:class="${#fields.hasErrors('passwordConfirm')}? 'form-controlfieldError' : 'form-control'" required>
                </div>

                <div class="mb-3">
                    <label th:for="name">Name</label>
                    <input type="password" class="form-control" th:field="*{name}" placeholder="Your name"
                           th:class="${#fields.hasErrors('name')}? 'form-controlfieldError' : 'form-control'" required>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="module"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>