<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <th:block layout:fragment="stylesheet"></th:block>

    <title>Hello Shop</title>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div layout:fragment="content"></div>
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="module"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<!-- Custom JavaScript -->
<th:block layout:fragment="script"></th:block>
</body>
</html>