<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="layout/base">
<body>

<!--사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>
<div layout:fragment="jumbotron">
	<h1 class="jumbotron-heading">HOME</h1>
	<p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
</div>
<div layout:fragment="content">
	<h1>Ranking</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc velit, lobortis vel libero eu, congue ornare erat. Praesent tristique justo lacus, non molestie ex euismod et. Morbi nec aliquet erat, id consequat odio.</p>
	<h1>New Products</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc velit, lobortis vel libero eu, congue ornare erat. Praesent tristique justo lacus, non molestie ex euismod et. Morbi nec aliquet erat, id consequat odio.</p>
</div>

<!-- 사용자 js 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	</script>
</th:block>

</body>
</html>