<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/base">
<body>

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col mx-auto">
			<div class="board-panel">
			
				<h2 class="text-center">Board List</h2>
				<hr />
				
				<div class="table-responsive" th:with="result=${result.result}">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th>#</th>
								<th>title</th>
								<th>writer</th>
								<th>date</th>
								<th>views</th>
							</tr>
						</thead>
						<tbody>
							<tr class="clickable-row" th:data-href="${board.boardId}" th:each="board:${result.content}">
								<td>[[${board.boardId}]]</td>
								<td>[[${board.title}]]</td>
								<td>[[${board.member.memberName}]]</td>
								<td>[[${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}]]</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row justify-content-end">
					<div class="col-md-3 pb-3">
						<!-- <button type="submit" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalLong">New Post</button> -->
						<a class="btn btn-outline-primary btn-block" href="/boards/post">New Post</a>
					</div>
				</div>

				<ul class="pagination justify-content-center">
				    <li class="page-item" th:classappend="${result.prevPage} ? '' : disabled">
				    	<a class="page-link" th:href="${result.prevPage} ? ${result.prevPage.PageNumber} + 1 : ''">&laquo;</a>
				    </li>
					<li class="page-item" th:classappend="${p.pageNumber == result.currentPageNum -1} ? active: '' " th:each="p:${result.pageList}">
						<a class="page-link" th:href="${p.pageNumber} + 1">[[${p.pageNumber} + 1]]</a>
					</li>
					<li class="page-item" th:classappend="${result.nextPage} ? '' : disabled">
						<a class="page-link" th:href="${result.nextPage} ? ${result.nextPage.pageNumber} + 1 : ''">&raquo;</a>
					</li>
			  	</ul>

				<div class="form-row justify-content-end">
					<div class="col-md-3 mb-3">
						<select class="form-control" id="searchType" >
							<option>---</option>
							<option value="t" th:selected="${pagination.type} == 't'">Title</option>
							<option value="c" th:selected="${pagination.type} == 'c'">Content</option>
							<option value="w" th:selected="${pagination.type} == 'w'">Writer</option>
						</select>
					</div>
					<div class="col-md-3 mb-3">
						<input type="text" class="form-control" id="searchKeyword"  th:value="${pagination.keyword}"/>
					</div>
					<div class="col-md-3 mb-3">
						<button class="btn btn-outline-primary btn-block" id="searchBtn">Search</button>
					</div>
				</div>
				
				<form id="qsForm" action="/boards" method="get">
			  		<input type="hidden" name="page" th:value="${result.currentPageNum}"/>
			  		<input type="hidden" name="size" th:value="${result.currentPage.pageSize}"/>
			  		<input type="hidden" name="type" th:value="${pagination.type}"/>
			  		<input type="hidden" name="keyword" th:value="${pagination.keyword}"/>
			  	</form>

			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					You must sign in for posting.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-outline-primary">Go to sign in</button>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var qsForm = $('#qsForm');
			
			$('.pagination a').click(function(event) {
				event.preventDefault();
				qsForm.find('[name="page"]').val($(this).attr('href'));
				qsForm.submit();
			});
			
			$('#searchBtn').click(function(event) {
				var type = $('#searchType').find(':selected').val();
				var keyword = $('#searchKeyword').val();
				
				qsForm.find('[name="type"]').val(type);
				qsForm.find('[name="keyword"]').val(keyword);
				qsForm.find('[name="page"]').val('1');
				qsForm.submit();
			});
			
			$(".clickable-row").click(function() {
				boardId = $(this).data("href");
				location.replace("/boards/" + boardId + location.search);
		    });
		});
	</script>
</th:block>
	
</body>