<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/base">
<body>

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" class="container">
	<h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">

	</script>
</th:block>

</body>
</html>