<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/base}">

<th:block layout:fragment="stylesheet">
	<link rel="stylesheet" th:href="@{/css/common.css}">
</th:block>
<body>
<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col-md-9">
			<th:block th:if="${items.totalElements} > 0">
				<!-- Item list -->
				<div class="row card-deck">
					<div class="col-lg-4 col-md-6 mb-4" th:each="item : ${items}">
						<div class="card text-center">
							<div class="card-header">
								<h4 th:text="${item.name}">White Basic Short Sleeve</h4>
							</div>
							<div class="card-body">
								<img class="card-img-top" th:src="${item.picture}" alt="">
								<h5 class="card-title" th:text="|$${item.price}|">$10</h5>
								<div class="row">
									<div class="col-4 padding-0">
										<input type="number" min="0" class="form-control">
									</div>
									<div class="col-8 padding-0">
										<button class="btn btn-primary btn-block">Add To Cart</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Pagination -->
				<nav aria-label="Page navigation" style="text-align:center;">
					<ul class="pagination justify-content-center" th:with="startNumber=${T(Math).floor(items.number/10)}*10+1, endNumber=(${items.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${items.totalPages}">
						<li class="page-item"><a class="page-link" aria-label="Previous" href="/?page=1">&laquo;</a></li>
						<li class="page-item" th:style="${items.first} ? 'display:none'">
							<a class="page-link" th:href="@{/(page=${items.number})}">&lsaquo;</a>
						</li>

						<li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:classappend="(${page} == ${items.number}+1) ? 'active'">
							<a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
						</li>

						<li class="page-item" th:style="${items.last} ? 'display:none'">
							<a class="page-link" th:href="@{/(page=${items.number}+2)}">&rsaquo;</a>
						</li>
						<li class="page-item"><a class="page-link" aria-label="Next" th:href="@{/(page=${items.totalPages})}">&raquo;</a></li>
					</ul>
				</nav>
				<!-- /Pagination -->
			</th:block>
			<p class="text-center" th:unless="${items.totalElements} > 0">No Results</p>
		</div>
		<!-- shopping cart -->
		<div class="col-md-3">
			<div class="card text-white bg-danger mb-3">
				<div class="card-header text-center">Shopping Cart</div>
				<div class="card-body">
					<h5 class="card-title">Total: $<span id="cart-price">0</span></h5>
					<hr>
					<h6 class="card-title">Items bought:</h6>

					<p>Your shopping cart is empty.</p>

					<button class="btn btn-light btn-block">Checkout</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>