<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="layout/base">
<body>

<!--사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>
<div layout:fragment="content">

	<h1>Bootstrap starter template</h1>
	<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

</div>

<!-- 사용자 js 추가 -->
<th:block layout:fragment="script">

	<script th:inline="javascript">
	</script>
</th:block>

</body>
</html>