<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/base">
<body>

<!--사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</th:block>
<div layout:fragment="content">

    <form th:action="@{/login/progress}" method="post" class="form-signin">
        <img class="mb-4" th:src="@{/webjars/bootstrap/4.3.1/site/docs/4.3/assets/brand/bootstrap-solid.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="ID" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div th:if="${param.error}" class="text-danger">
            Invalid username and password.
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember-me" name="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>

</div>

<!-- 사용자 js 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>
</th:block>

</body>
</html>