<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/base">
<body>

<!--사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>
<div layout:fragment="content">
    <h1>Congratulations!</h1>
    <p class="lead">Your registration has been completed.<br> Enjoy your shopping</p>
    <button type="button" class="btn btn-lg btn-primary" th:hrf="@{/login}">Go to Login</button>
</div>

<!-- 사용자 js 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>
</th:block>

</body>
</html>