<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/base">
<body>

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col mx-auto">
			<div class="board-panel text-center">
	
				<h2>403</h2>
				<hr />
				<p>ACCESS DENIED/FORBIDDEN!</p>
				<p>Back to <a th:href="@{/}">Home</a></p>
				<!--
				    Failed URL: ${url}
				    Exception:  ${exception.message}
				        <c:forEach items="${exception.stackTrace}" var="ste">    ${ste} 
				    </c:forEach>
				-->
	
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">

	</script>
</th:block>
	
</body>