<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/base">
<body>

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col mx-auto">
			<div class="board-panel text-center">
	
				<h2>Error Page</h2>
				<hr />
				<p>Application has encountered an error. Please contact support on ...</p>
				<p>Back to <a th:href="@{/}">Home</a></p>
				
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>
	
</body>