<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/base">
<body>

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col mx-auto">
			<div class="board-panel">
	
				<h2 class="text-center">Board Guide</h2>
				<hr />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tincidunt nulla. Ut semper enim a scelerisque lobortis. Suspendisse tincidunt lacus non nulla vulputate, et ultricies metus sagittis. Nunc eu dictum erat. Sed feugiat, nibh quis mollis consequat, ex metus feugiat magna, in eleifend lectus enim eget libero. Suspendisse ac faucibus est, et egestas purus. Sed in lorem ut metus dapibus laoreet. Nunc quis tortor congue, posuere augue a, faucibus enim. Pellentesque id turpis sed lorem mattis tincidunt id id nibh. Mauris suscipit accumsan nisl non malesuada. Phasellus et justo tempor, ullamcorper ante eu, sollicitudin purus. Ut ut nibh metus. Morbi est justo, luctus id purus at, aliquet lacinia velit. Nullam rutrum ipsum elit, in ultricies tortor semper at. Nulla at ex id nisi faucibus faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			
					Nam sed tincidunt turpis, ac ullamcorper neque. Nunc et condimentum enim. Donec quis augue sed felis imperdiet porttitor. Nunc quis eros sit amet risus aliquet efficitur vel non eros. Maecenas laoreet est vel bibendum finibus. Integer dignissim tellus augue, at laoreet leo scelerisque in. Morbi fringilla gravida mi sed pretium. Integer maximus leo viverra, placerat nunc ac, pulvinar nulla. Sed eget erat ex. Phasellus velit libero, laoreet eu sapien eu, pulvinar elementum ipsum. Curabitur dictum lacinia tellus eu vestibulum. Aenean id magna pharetra nunc dignissim eleifend. Nam blandit fringilla metus non viverra. Nulla fermentum tincidunt urna ut dictum. Donec vitae magna dictum, finibus eros eu, commodo ante.
			
					Praesent vel fermentum lacus. Donec consectetur nisl sed enim euismod, at tincidunt mauris ullamcorper. Fusce commodo, neque non dictum fermentum, tortor nunc volutpat purus, ut tincidunt risus dolor fringilla nunc. Nunc erat diam, finibus in erat id, pellentesque dignissim mi. Pellentesque venenatis mauris vitae lobortis sodales. Proin sed dignissim enim, vitae dignissim ex. Nunc eu pellentesque dui, eu pulvinar dolor. Cras ultricies ligula sapien, et hendrerit magna viverra non. Phasellus vulputate efficitur nulla in tempor. Sed risus dolor, sodales vitae dui vitae, gravida vehicula nisl.
			
					Nulla facilisi. Donec id massa hendrerit, tempor nisl in, consectetur massa. Duis porttitor purus non nisl condimentum ullamcorper et ac tortor. Vivamus quis risus lacus. Donec viverra augue eu libero molestie, vitae efficitur orci porttitor. Cras nec quam mauris. Nam mollis maximus mi, et blandit enim imperdiet eget. Donec placerat augue vitae commodo efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			
					Nullam vulputate turpis vitae interdum blandit. Curabitur vitae massa non turpis tincidunt facilisis ut tempor nisi. Aliquam nec commodo erat, vel suscipit metus. Suspendisse potenti. Nulla facilisi. Maecenas ultricies consectetur ligula et eleifend. Donec a tortor porttitor, tempor odio a, finibus tortor.
				</p>
	
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">

	</script>
</th:block>
	
</body>