<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/base">
<body>

<th:block layout:fragment="css"></th:block>

<div layout:fragment="content" class="container">

	<div class="row">
		<div class="col-lg-6 col-md-8 col mx-auto">
			<form method="post" class="form-panel needs-validation" novalidate>
				<h2 class="text-center">Sign in</h2>
				<div class="text-center" th:if="${param.error != null}">
					<span class="text-danger">Invalid ID or Password</span>
				</div>
				<hr />
				<div class="form-group">
					<label for="username">ID</label> 
					<input type="text" class="form-control" name="username" id="username" placeholder="Your ID" maxlength="15" pattern=".{3,15}" required>
					<div class="invalid-feedback">3 to 15 characters</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="Your Password" maxlength="20" pattern=".{3,20}" required>
					<div class="invalid-feedback">3 to 20 characters</div>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="remember-me">
					<label class="form-check-label" for="remember-me">Remember Me</label>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
			</form>
		</div>
	</div>

</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">

	</script>
</th:block>
	
</body>